<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Acido Solforico</key>
	<dict>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<real>0.3</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>PH</key>
		<integer>1</integer>
		<key>density</key>
		<integer>1</integer>
	</dict>
	<key>Cloruro Di Litio</key>
	<dict>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Nitrato Rameico</key>
	<dict>
		<key>flameColor</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<real>0.3</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Cloruro Rameoso</key>
	<dict>
		<key>flameColor</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.3</real>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Cloruro Di Sodio</key>
	<dict>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Nitrato Di Potassio</key>
	<dict>
		<key>flameColor</key>
		<array>
			<real>0.2</real>
			<integer>0</integer>
			<real>0.8</real>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
