<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Carbonio</key>
	<dict>
		<key>molecule</key>
		<string>C</string>
		<key>name</key>
		<string>carbonio</string>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<real>0.8</real>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>7</integer>
		<key>density</key>
		<real>1.2</real>
	</dict>
	<key>Saccarosio</key>
	<dict>
		<key>molecule</key>
		<string>C12H22O11</string>
		<key>name</key>
		<string>saccarosio</string>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>7</integer>
		<key>density</key>
		<real>1.2</real>
	</dict>
	<key>Acido Solforico</key>
	<dict>
		<key>molecule</key>
		<string>H2SO4</string>
		<key>name</key>
		<string>acidosolforico</string>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<real>0.3</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>PH</key>
		<integer>1</integer>
		<key>density</key>
		<integer>1</integer>
	</dict>
	<key>Cloruro Di Litio</key>
	<dict>
		<key>molecule</key>
		<string>LiCl</string>
		<key>name</key>
		<string>clorurodilitio</string>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Nitrato Rameico</key>
	<dict>
		<key>molecule</key>
		<string>Cu(NO3)2</string>
		<key>name</key>
		<string>nitratorameico</string>
		<key>flameColor</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<real>0.3</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Cloruro Rameoso</key>
	<dict>
		<key>molecule</key>
		<string>CuCl</string>
		<key>name</key>
		<string>clorurorameoso</string>
		<key>flameColor</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.3</real>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Cloruro Di Sodio</key>
	<dict>
		<key>molecule</key>
		<string>NaCl</string>
		<key>name</key>
		<string>clorurodisodio</string>
		<key>flameColor</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
	<key>Nitrato Di Potassio</key>
	<dict>
		<key>molecule</key>
		<string>KNO3</string>
		<key>name</key>
		<string>nitratodipotassio</string>
		<key>flameColor</key>
		<array>
			<real>0.2</real>
			<integer>0</integer>
			<real>0.8</real>
		</array>
		<key>color</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>PH</key>
		<integer>0</integer>
		<key>density</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
